body {
  @include text-primary-regular;
  font-size: 1rem;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

.heading-title {
  @include text-primary-regular;
  color: $txt-primary;
  text-transform: uppercase;
  // For mobile
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 1px;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: $txt-input !important;
  -webkit-box-shadow: 0 0 0 45px #fff inset !important;
}


.vue-notification-group {
  position: fixed;
  top: 30px !important;
  z-index: 999;
}

.notification {
  padding: 10px;
  margin: 15px 5px 5px;
  min-width: 290px;
  @include text-primary-medium;

  color: #ffffff;

  .notification-title {
    margin-bottom: 10px;
  }

  &.error {
    background: rgba($color: $bg-danger, $alpha: .85);
    color: #ffffff;
    border-left-color: $bd-primary;
  }
}
