
@font-face {
  font-family: 'DINPro';
  src: url('~@/assets/fonts/DINPro.ttf');
}

@font-face {
  font-family: 'DINProBold';
  src: url('~@/assets/fonts/DINPro-Bold.ttf');
}

@font-face {
  font-family: 'DINProBlack';
  src: url('~@/assets/fonts/DINPro-Bold.ttf');
}

@font-face {
  font-family: 'DINProLight';
  src: url('~@/assets/fonts/DINPro-Light.ttf');
}

@font-face {
  font-family: 'DINProMedium';
  src: url('~@/assets/fonts/DINPro-Medium.ttf');
}