.min-screen {
  min-height: 100vh;
}

.wrapper {
  position: relative;
  // transform: scale(1.09);
  // max-width: 100vw;
  // transform-origin: top;
  background-size: cover;
  overflow-y: hidden;

  @media only screen and (max-width: 768px) {
    padding-top: 3rem;

    background-size: contain;

    background-attachment: scroll;
  }

  // @media (min-width: 320px) and (max-width: 768px) {
  //   padding-top: 3rem;
  //   background: rgba(0, 0, 0, 0.8) url("../../assets/img/wall-mobile.png") repeat center bottom fixed;
  //   background-size: contain;

  //   background-attachment: scroll;
  // }
  .wall-mobile-background {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

// .sticky-top {
//   top: -1px;
// }

.nuxt-children {
  position: relative;
  z-index: 2;
  margin-bottom: 2rem;
}
