/** App color **/
$primary: #03306b;

// For link
$link-primary: #ed8b00;
$link-primary-hover: #ba6d00;

$link-navbar: hsla(0, 0%, 100%, 0.6);
$link-navbar-hover: #ed8b00;

// For Backgound
$bg-primary: $primary;
$bg-secondary: #eac02b;
$bg-child-element: #e3c470;
$bg-child-element-primary: #0651b3;
$bg-error: #fffad5;
$bg-disable: #bababa;
$bg-outline: #911822;
$bg-danger: #f00009;
$bg-commingsoon: #daa95d;
$bg-button: #03306b;

// For text
$txt-primary: #03306b;
$txt-background: #03306b;
$txt-warning: #ffd907;
$txt-error: #f00009;
$txt-secondary: #eac02b;
$txt-placeholder: #bababa;
$txt-white: #ffffff;
$txt-black: #000000;
$txt-active: #03306b;
$txt-input: #0b5aa7;
$txt-des: #333333;

// Border
$bd-error: #e31f26;
$bd-primary: #03306b;
$bd-secondary: #e4c671;
