@mixin text-roboto($weight: 400) {
  font-family: 'DINPro', sans-serif;
  font-weight: $weight;
}

@mixin text-primary-bold() {
  // font-family: 'Avenir Next Condensed Bold';
  font-family: 'DINProBold', sans-serif;
  font-weight: 700;
}

@mixin text-primary-medium() {
  // font-family: 'Avenir Next Condensed Medium';
  font-family: 'DINProMedium', sans-serif !important;
  font-weight: 500;
}

@mixin text-primary-regular() {
  // font-family: 'Avenir Next Condensed Regular';
  font-family: 'DINPro', sans-serif;
  font-weight: 400;
}

@mixin text-primary-black() {
  // font-family: 'Avenir Next Condensed Regular';
  font-family: 'DINProBlack', sans-serif;
  font-weight: 800;
}

@mixin text-primary-demi-bold() {
  // font-family: 'Avenir Next Condensed Demi Bold';
  font-family: 'DINPro', sans-serif;
  font-weight: 600;
}