
<template>
  <div class="layout__error">
    <div class="container text-center">
      <template v-if="error.statusCode === 404">
        <h3>404</h3>
        <p>Page not found</p>
      </template>
      <template v-else>
        <h3>500</h3>
        <p>An error occurred</p>
      </template>
      <main-button to="/" class="text-decoration-none d-inline-block">Go to home</main-button>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['error'],
  }
</script>

<style lang="scss" scoped>
.layout__error {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  font-size: 46px;
  letter-spacing: 2px;
  color: $txt-black;
  @include text-primary-bold;
}
p {
  margin: 15px 0 30px;
  color: $txt-black;
  font-size: 36px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  @include text-primary-demi-bold;
}
</style>