<template>
  <div class="layout__default">
    <!-- Check age gate -->
    <!-- <Navbar /> -->

    <!-- Remove if dont use container for layout -->
    <div class="wrapper min-screen" id="wrapper">
      <img
        src="~/assets/img/wall-mobile.png"
        alt="wall"
        class="wall-mobile-background"
        v-if="$device.isMobileOrTablet"
      />
      <div class="container py-4 wrapper__body">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-12 col-md-8">
            <Nuxt class="nuxt-children" />
            <!-- <Footer v-if="!$device.isMobileOrTablet" /> -->
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  components: {
    // AgeGate: () => import("@/components/age-gate/AgeGate"),
    // Navbar: () => import("@/components/navbar/Navbar"),
    // Footer: () => import("@/components/footer/Footer"),
  },

  computed: {
    ...mapGetters({
      verifyAge: "age-gate/verifyAge",
    }),
  },
  mounted() {
    // if (this.$device.isMobileOrTablet) {
    //   $(window).scroll(function () {
    //     var scrolledY = $(window).scrollTop();
    //     $("#wrapper").css("background-position", "left " + scrolledY + "px");
    //   });
    // }
  },
};
</script>

<style lang="scss" scoped></style>
