<template>
  <div>hello</div>
</template>

<script>
export default {
  name: "home",
  components: {},
  head() {
    return {
      title: "BEAT THE HEAT WITH TIGER CRYSTAL",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Beat the heat with exclusive Tiger Crystal promotions!",
        },
        {
          hid: "og:title",
          property: "og:title",
          content: "Beat the Heat with Tiger Crystal | Promotions",
        },
        {
          hid: "og:description",
          property: "og:description",
          content: "Beat the heat with our exclusive Tiger Crystal promotions!",
        },
        {
          hid: "og:image",
          property: "og:image",
          content: `${this.$appConfig.baseURL}/TigerCrystal2021.jpg`,
        },
      ],
    };
  },
  async asyncData({ query, $api, store, redirect }) {},
  mounted() {},
  methods: {},
};
</script>

<style lang="scss" scoped></style>
